<html xmlns:th="http://www.thymeleaf.org">


<div id="actor">
	<div th:fragment="show(actor)">

		<script>
			function toggle(id) {
				console.log(id)
				var x = document.getElementById(id);
				if (x.style.display === "none") {
					console.log("zz: block");
					x.style.display = "block";
				} else {
					console.log("ee: block");
					x.style.display = "none";

				}
			} 
		</script>


		<div th:with="id=${#strings.randomAlphanumeric(10)}">
			<button th:attr="onclick=|toggle('${id}')|"
				th:text="${actor.actor.name.orElse(actor.actor.subject)}">toogle</button>

			<div th:id="${id}">
				<div th:hx-get="@{/read(subject=${actor.actor.subject})}" hx-swap="afterend"
					th:text="${actor.actor.name.orElse(actor.actor.subject)}"
					class="text-blue-500 underline hover:text-indigo-900">
				</div>
				<div th:utext="${actor.summary.orElse('n.a.')}"></div>
			</div>
		</div>
	</div>

</div>

</html>