<html xmlns:th="http://www.thymeleaf.org">
<div id="mainContent">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h1 class="text-2xl font-semibold text-gray-900"><span th:text="${title}"> </span></h1>
	</div>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div>
			<div class="mt-8 flow-root">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
					
					<span th:if="${not #lists.isEmpty(objects)}">
					
						<table class="min-w-full divide-y divide-gray-300">
							<tbody class="divide-y divide-gray-200">
								<th:block th:each="object : ${objects}">
									<tr  class="bg-slate-200">
										<td><span th:text="${object.subject}">subject</span></td>
										<td><span th:text="${object.name}">name</span></td>
									</tr>

									<th:block th:each="property: ${object.properties}">
										<tr>
											<td class="table-value-first-column" th:text="${property.name} + ': '">name</td>
											<td>
												<span th:unless="${property.isLink}" th:text="${property.value}">value</span>
												<a 	th:if="${property.isLink}"
														th:href="@{/read(subject=${property.value})}"
														th:text="${property.value}">
														value
											</td>
										</tr>
									</th:block>
								</th:block>
							</tbody>
						</table>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

</html>