<html xmlns:th="http://www.thymeleaf.org">
<!--
            <tr th:fragment="desktop-property-row(property)" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4 ">
					<a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
								th:title="${property.description}" th:href="@{${property.predicate}}" target="_blank"
								th:text="${property.humanReadableName}">
								value</a>
                </td>
                <td id="property" class="px-6 py-4">
					<div class="flex justify-center mt-4">
						<button th:if="${property.isIRI}" hx:get="@{'/read?subject=' + ${property.value}}"  hx-swap="outerHTML" th:text="${property.value}">Get Some HTML</button>
					</div>
					<span th:if="${property.isStringOrLiteral}" th:text="${property.value}"></span>
                </td>
            </tr>
			-->		
			<tr th:fragment="desktop-property-row(property)" >
				<td>
					<a th:title="${property.description}" th:href="@{${property.predicate}}"
						target="_blank" th:text="${property.humanReadableName}">
						value</a>
				</td>
				<td>
					<a	th:if="${property.isIRI}" 	
						th:href="@{'/read?subject=' + ${property.value}}"									
						th:text="${property.value}"
						target="_blank" >
						value</a>
						<span th:if="${property.isStringOrLiteral}" th:text="${property.value}"></span>										
				</td>
			</tr>
			
</html>
