<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<section layout:fragment="content">

<div id="mainContent">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<h1 class="text-2xl font-semibold text-gray-900"><span th:text="${title}"> </span></h1>
		<h1 class="text-2xl font-semibold text-gray-900">ACTOR !!!</h1>
	</div>
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div>
			<div class="mt-8 flow-root">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">

					<div th:if="${isError}" role="alert">
						<div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
							Error
						</div>
						<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
							<span th:text="${errorMessage}">
						</div>
					</div>
					<span th:if="${#lists.isEmpty(genericUiActivityPubObjects)}">
						<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
							list is empty
						</div>
					</span>
					<span th:if="${not #lists.isEmpty(genericUiActivityPubObjects)}">


						<th:block th:each="genericUiActivityPubObject : ${genericUiActivityPubObjects}">
						
							<table class="min-w-full divide-y divide-gray-300">
								<tbody class="divide-y divide-gray-200">
									<thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
									    <tr>
									        <th colspan="2" scope="col" class="px-6 py-3">
									            <span th:text="${genericUiActivityPubObject.name}"></span>
												<span th:text="${genericUiActivityPubObject.subject}"></span>
												<div>
													<div class="mr-3 h-6 w-6 flex-shrink-0"
													         th:classappend="${activeMenuItem == menuItem}?'text-gray-500':'text-gray-400 group-hover:text-gray-500'">
															 <a 
															 	hx:get="@{'/follow?subject=' + ${genericUiActivityPubObject.subject}}"
															    hx-target="#mainContent"
																>
													        	<svg th:replace="~{person-add}"></svg>
															</a>
															<!--<div id="abc">-->
													    </div>
												</div>
												
									        </th>
									    </tr>
									</thead>

									<th:block
										th:fragment="desktop-genericUiActivityPubObject(genericUiActivityPubObject)"
										th:each="property : ${genericUiActivityPubObject.properties}">
										<tr th:replace="~{fragments/propertyRow :: desktop-property-row(${property})}">
										</tr>
									</th:block>
								</tbody>
							</table>

						</th:block>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

</html>