<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<section layout:fragment="content">

	<div class="container-fluid" id="mainContent">
		<h1><span th:text="${title}"> </span></h1>

		<div th:if="${isError}" role="alert">
			<div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
				Error
			</div>
			<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
				<span th:text="${errorMessage}">
			</div>
		</div>
		<span th:if="${#lists.isEmpty(genericUiActivityPubObjects)}">
			<div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
				list is empty
			</div>
		</span>
		<span th:if="${not #lists.isEmpty(genericUiActivityPubObjects)}">

			<th:block th:each="genericUiActivityPubObject,iterStat : ${genericUiActivityPubObjects}">
				<div>
					<h3 th:title="${genericUiActivityPubObject.subject}" th:text="${genericUiActivityPubObject.name}">
						value</h3>


					<a th:if="${genericUiActivityPubObject.isFollowable}" class="btn btn-primary" data-toggle="collapse"
						th:href="@{'/follow?subject=' + ${genericUiActivityPubObject.subject}}" role="button"
						th:text="Follow" aria-expanded="false" aria-controls="collapseExample">
						Link with href
					</a>
				</div>

	
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Property</th>
							<th scope="col">Value</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:fragment="desktop-genericUiActivityPubObject(genericUiActivityPubObject)"
							th:each="property : ${genericUiActivityPubObject.properties}">
							<tr th:replace="~{fragments/propertyRow :: desktop-property-row(${property})}">
							</tr>
						</th:block>
					</tbody>
				</table>
				<!--
				<div th:replace="~{fragments/showObject :: show(${iterStat},${genericUiActivityPubObject})}" />
				-->
			</th:block>
		</span>
	</div>
</section>

</html>