<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="show(genericUiActivityPubObject)">


	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Property</th>
				<th scope="col">Value</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="property : ${genericUiActivityPubObject.properties}">
				<tr th:replace="~{fragments/propertyRow :: desktop-property-row(${property})}">
				</tr>
			</th:block>
		</tbody>
	</table>
	</th:block>
</div>

</html>