<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<section layout:fragment="content">

	<div class="container-fluid" id="mainContent">
		<h1><span th:text="${title}"> </span></h1>

		<div th:replace="~{fragments/error :: error(${isError}, ${errorMessage})}"></div>

		<span th:if="${#lists.isEmpty(genericUiActivityPubObjects)}">
			<div>
				list is empty
			</div>
		</span>
		<section>

			<table class="table table-sm">
				<tbody>
					<th:block th:each="actor : ${genericUiActivityPubObjects}">
						<tr>
							<td class="col-xs-1">
								<div width="10px" height="10px">
									<div th:if="${actor.getIconUrl.isEmpty}" role="alert">
										<svg th:replace="~{person}"></svg>
									</div>
									<div th:if="${actor.getIconUrl.isPresent}" role="alert">
										<img th:src="@{${actor.getIconUrl.get()}}" alt="">
										<img :src="item.avatar" alt="" />
									</div>
								</div>
							</td>
							<td class="col-xs-1">
								<a th:href="@{${actor.actor.subject}}" target="_blank"
									th:text="${actor.actor.name.orElse(actor.actor.subject)}">name</a>
								<span th:utext="${actor.summary.orElse('')}"></span>
							</td>
							<td class="col-xs-1">
								<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
									aria-expanded="false" aria-controls="collapseExample"
									hx:get="@{'/removeFollower?subject=' + ${actor.subjectEncoded}}" th:text="Remove"
									hx-target="#mainContent">
									Link with href
								</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</section>
	</div>
</section>

</html>