<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<section layout:fragment="content">

	<div id="mainContent">
		<h1><span th:text="${title}"> </span></h1>

		<form class="container-fluid" id="note-form" th:object="${note}" th:action="@{/notes/create}" th:method="post"
			hx:post="@{/notes/create}" hx-swap="outerHTML" hx-target="#mainContent">

			<div class="mb-3">
				<label class="form-label" for="to" th:text="To">to</label>
				<input class="form-control" id="to" type="text" th:field="*{to}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="bto" th:text="Bto">bto</label>
				<input class="form-control" id="bto" type="text" th:field="*{bto}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="cc" th:text="Cc">cc</label>
				<input class="form-control" id="cc" type="text" th:field="*{cc}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="bcc" th:text="Bcc">bcc</label>
				<input class="form-control" id="bcc" type="text" th:field="*{bcc}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="name" th:text="Name">name</label>
				<input class="form-control" id="name" type="text" th:field="*{name}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="summary" th:text="Summary">summary</label>
				<input class="form-control" id="summary" type="text" th:field="*{summary}">
			</div>
			<div class="mb-3">
				<label class="form-label" for="content" th:text="Content">content</label>
				<textarea class="form-control" id="content" type="content" th:field="*{content}" rows="4"
					placeholder="Write your thoughts here..." />
			</div>

			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

			<div class="mb-3">
				<span>
					<button type="button" th:text="Cancel">Cancel</button>
				</span>
				<span>
					<button type="submit" th:text="Send">Save</button>
				</span>
			</div>
		</form>
	</div>

</html>